# Виртуальное окружение
venv/
.venv/
env/

# Кеш и служебные файлы Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Настройки редакторов и IDE
.idea/
.vscode/
*.swp

# Служебные файлы ОС
Thumbs.db
desktop.ini
.DS_Store
